#walrusShowing {
  display:none;
}

.clickable {
  cursor:pointer;
  color:#0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.darkBackground {
  background-color: black;
  color: greenyellow;
}

.highlight {
  background-color:yellow;
  border:1px solid black;
}